<div class="d-flex flex-column justify-content-center align-items-center">
  <h2 class="h1-text">Редагувати акаунт</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="d-flex align-items-center mb-3" style="width: 350px;">
      <% if resource.profile_pic.attached? %>
        <%= image_tag resource.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 10%" %>
      <% else %>
        <%= image_tag 'default_avatar.png', class: "img-thumbnail rounded-circle", style: "width: 10%" %>
      <% end %>
      <div class="d-flex flex-column mx-3 justify-content-center">
        <small class="fw-bold" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:10rem;">
          <%= resource.username%>
        </small>
        <%= f.file_field :profile_pic, class: "form-control form-control-sm"%>
      </div>
    </div>

    <div class="field mb-3" style="width: 350px;">
      <%= f.label :email, class:"col-sm-4 col-form-label fw-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :bio, class:"col-sm-4 col-form-label fw-bold" %>
      <div>
        <%= f.text_field :bio, autofocus: true, class: "form-control", rows:5, placeholder: "Біографія" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-3">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Новий пароль", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> символів мінімум</em>
      <% end %>
    </div>

    <div class="field mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Підтвердіть новий пароль", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Введіть старий пароль для підтвердження", class: "form-control" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "Оновити акаунт", class: "btn btn-primary d-block" %>
    </div>
  <% end %>

  <%= button_to "Вийти з акаунта", destroy_user_session_path, method: :delete, class:"btn btn-secondary d-block ", style:"width: 250px;" %>

  <h3 class="h1-text">Видалити акаунт</h3>

  <div class="actions mb-3"><%= button_to "Видалити мій акаунт", registration_path(resource_name), data: { confirm: "Ви впевнені?", turbo_confirm: "Ви впевнені?" }, method: :delete, class: "btn btn-danger d-block" %></div>

  <%= link_to "Назад", :back, class:"mb-3", style:"text-decoration:none;" %>
</div>
