<%= form_with(model: twit) do |form| %>
  <% if twit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(twit.errors.count, "error") %> prohibited this twit from being saved:</h2>

      <ul>
        <% twit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container home-sections d-flex flex-row justify-content-center align-items-center" style="width: 400px;">
    <div class="card-body">
      <div class="mb-3 mt-4">
        <%= form.text_field :caption, class: "form-control", placeholder: "Опис твіта"%>
      </div>

      <div class="mb-3">
        <%= form.label :show_likes_count, style: "display: block" %>
        <%= form.check_box :show_likes_count %>
      </div>

      <div class="mb-3">
        <%= form.label :images, style:"display: block;" %>
        <%= form.file_field :images, multiple: false %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
