<div class = "container home-sections d-flex flex-row justify-content-center align-items-center">
    <div class = "login-section">
        <div>
            <h1 class="h1-text">Авторизація</h1>
        </div>
        <div class="card-body text-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3 mt-4">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>
            <div class="mb-3">
                <%= f.password_field :password, class: "form-control", placeholder: "Пароль" %>
            </div>
            <%= f.submit "Увійти", class: "btn btn-primary d-block" %>
          <% end %>
      
          <% if notice %>
              <p class="notice"><%= notice %></p>
          <% elsif alert %>
              <p class="alert"><%= alert %></p>
          <% end %>
        </div>

        <div class="card text-center">
            <div class="card-text">
                Не маєте акаунта?
                <%= link_to "Зареєструватись", new_user_registration_path, class: "fs-6 d-block my-4 text-decoration-none" %>
            </div>
        </div>
    </div>
</div>

