<div class="d-flex justify-content-between">
    <div class="d-flex">
        <%= link_to suggestion, style:"text-decoration: none;" do %>
          <% if suggestion.profile_pic.attached? %>
            <%= image_tag suggestion.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 2.5rem;" %>
          <% else %>
            <%= image_tag 'default_avatar.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem;" %>
          <% end %>
        <% end %>
        <div class="d-flex flex-column mx-2">
            <small class="fw-bold" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:10rem;">
                <%= link_to suggestion, class:"text-dark", style:"text-decoration:none;", data: {turbo: "false"} do %>
                    <% suggestion.username %>
                <% end %>
            </small>
            <small class="text-muted" style="font-size:.7rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:10rem;">Рекомендовано для вас</small>
        </div>
    </div>

    <%= button_to follow_path(user_id: suggestion.id), method: :post, class:"btn bg-transparent border-0", data: {turbo: "false"} do %>
        <small class="fw-bold text-primary"> Підписатися </small>
    <% end %>
</div>