<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-white border-bottom" style="border-color: #afafaf;">
  <div class="container-fluid w-50">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-twitter-logo-icon-png-svg.png", width: "50rem" %>
    <% end %>
    <div class="d-flex">
        <div class="navbar-collapse gap-4">
            <%= link_to root_path, class:"text-dark" do %>
                <i class="fa-solid fa-house fa-xl"></i>
            <% end %>
            <%= link_to new_twit_path, class:"text-dark" do %>
                <i class="fa-solid fa-square-plus fa-xl"></i>
            <% end %>
            <% if current_user && current_user.profile_pic.attached? %>
                <%= link_to profile_path do %>
                    <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 2rem" %>
                <% end %>
            <% else %>
                <%= link_to profile_path do %>
                    <%= image_tag 'default_avatar.png', class: "img-thumbnail rounded-circle", style: "width: 2rem" %>
                <% end %>
            <% end %>
        </div>
    </div>
  </div>
</nav>